
body, html {
    height: 100%;
    margin: 0;
}

.bg {
    /* The image used */
    margin:0;
	padding: 0;
	text-align:center;
    background-image: url("http://getwallpapers.com/wallpaper/full/4/8/7/260099.jpg");

    /* Full height */
    height: 100%; 
    position: relative;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family:sans-serif;
}

.text-block {
    position: absolute;
   bottom: 0;
    background: rgba(0, 0, 0, 0.7);
    color: white;
    padding:220px 150px 80px 610px;
    
    
}

form{
	margin-top: 50px;
	transition: all 4s ease-in-out;

}

.form-control{
	width: 600px;
	background-color:transparent;
	color: white;
	border:none;
	outline: none;
	border-bottom: 2px solid gray;
	color: white;
	font-size: 18px;
	margin-bottom: 16px;
	padding-top: 25px;
}
button{
	padding: 10px;
	background-color:#ff5722;
	border-color: transparent;
	border-radius: 1px;
	color: #fff;

}

button:hover{
	background-color: #f44336;

	cursor: pointer;
}
